/* Global
-------------------------------------*/

body {
    background-image: url("../img/bg.jpg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    height: 1000px;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Container
-------------------------------------*/

.container {
    width: 1208px;
    margin: 0 auto;
}

/* Header
-------------------------------------*/

.main-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-header-logo {
    margin-top: 28px;
}

.main-navigation {
    width: 620px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.navigation-links {
    width: 490px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.navigation-buttons {
    width: 72px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.navigation-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    margin-top: 7px;
    opacity: 0;
    transition: opacity .2s linear;
}

.navigation-item a,
.navigation-cart-button a,
.navigation-search-button a {
    transition: color .2s linear;
}

.navigation-item:hover a,
.navigation-cart-button:hover a,
.navigation-search-button:hover a {
    color: #fce38a;
}

.navigation-item:hover::after,
.navigation-item.active::after {
    opacity: 1;
}

/* Intro
-------------------------------------*/

.intro-wrapper {
    text-align: center;
    color: #ffffff;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    margin-top: 135px;
}

.intro-suptitle {
    font-family: "Kaushan Script";
    font-size: 65px;
    margin-bottom: 42px;
    user-select: none;
}

.intro-title {
    font-size: 114px;
    user-select: none;
    text-transform: uppercase;
    line-height: 140px;
}

.intro-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 35px auto;
}

.intro-button {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #ffffff;
    padding: 9px 32px;
    transition: all .2s linear;
}

.intro-button:hover {
    background-color: #fce38a;
    color: #333;
}

/* Intro-slider
-------------------------------------*/

.intro-slider {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #ffffff;

    margin-top: 100px;
}

.intro-slider b {
    font-size: 24px;
}

.intro-slider-item {
    border-top: 2px solid #fff;
    width: 280px;
    position: relative;
    opacity: 0.7;
    padding: 20px 0;
}

.intro-slider-item.active {
    opacity: 1;
}

.intro-slider-item.active::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 2px;
    background-color: #f38181;
}

/* About
-------------------------------------*/

.section {
    background-color: #ffffff;
}

.section-header {
    text-align: center;
    padding-top: 100px;
}

.section-suptitle {
    margin-bottom: 10px;
}

.section-title {
    text-transform: uppercase;
}

.section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 35px auto 0;
}

.section-suptitle {
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
}

.section-text {
    margin: 45px auto 0;
    width: 954px;
    text-align: center;
    color: #999999;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
}

/* Card
-------------------------------------*/

.card {
    display: flex;
    justify-content: space-between;
    margin-top: 101px;
}

.card-wrapper {
    background-color: #95e1d3;
    position: relative;
}

.card-wrapper:hover .card-text {
    opacity: 1;
}

.card-wrapper:hover .card-img {
    transform: translate3d(-10px, -10px, 0);
}

.card-img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}

.card-wrapper:hover .card-img img {
    opacity: .1;
}

.card-img img {
    transition: opacity .2s linear;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    opacity: 0;
    transition: opacity .2s linear;
}

.card-social {
    display: flex;
    background-color: transparent;
}

/* Statistics
-------------------------------------*/

.statistics {
    background-color: #95e1d3;
    margin-top: 110px;
    color: #ffffff;
    margin-bottom: 17px;
}

.statistics-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.statistics-item {
    font-size: 65px;
    font-weight: 700;
    border-left: 1px solid rgba(255, 255, 255, .3);
    padding: 80px 25px;
    flex: 1 1 0;
}

.statistics-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

/* Services
-------------------------------------*/

.service {
    padding: 25px 0 72px 0;
}

.service-wrapper {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    padding: 51px 0;
}

.service-wrapper--borderless {
    border: none;
}

.service-item {
    padding-left: 90px;
    position: relative;
    flex: 1 1 0;
}

.service-title {
    text-transform: uppercase;
    margin-bottom: 14px;
    font-weight: 400;
}

.service-text {
    font-family: Roboto;
    color: #999999;
    line-height: 24px;
}

.service-icon {
    position: absolute;
    font-size: 32px;
    top: -5px;
    left: 0;
    z-index: 1;
    color: #95e1d3;
    padding-left: 30px;
}

/* Devices
-------------------------------------*/

.section--device {
    background: url("../img/devices/devices-bg.jpg") center no-repeat;
    background-size: cover;
    max-height: 850px;
}

.device {
    max-width: 636px;
    margin: 48px auto 0 337px;
    position: relative;
}

.device-item--iphone {
    position: absolute;
    bottom: -90px;
    right: 0;
    z-index: 1;
}

/* Wedo
-------------------------------------*/

.wedo-wrapper {
    margin: 92px 0 120px 0;
    display: flex;
    justify-content: space-between;
}

.wedo-img {
    margin-right: 30px;
}

.accordion {
    width: 600px;
    height: 380px;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-item.active .accordion-header::after {
    transform: translateY(-25%) rotate(-45deg);
}

.accordion-item.active .accordion-content {
    display: block;
}

.accordion-header {
    padding: 25px 0 25px 61px;
    height: 70px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    border: 1px solid #e5e5e5;

}

.accordion-header::after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 40%;
    right: 20px;
    z-index: 1;
    transform: rotate(135deg);
    border-left: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    cursor: pointer;
}

.accordion-icon {
    position: absolute;
    /* top: 0;
    left: 16px;
    z-index: 1; */
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    z-index: 1;
    font-size: 32px;
    color: #95e1d3;
    font-weight: 400;
}

.accordion-content {
    padding: 21px 55px 28px 20px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    color: #999999;
    border: 1px solid #e5e5e5;
    border-top: none;
    display: none;
}

/* Feedback
-------------------------------------*/

.feedback {
    background-color: #f8f8f8;
}

.feedback-work {
    margin-bottom: 60px;
    background-color: transparent;
}

.feedback-wrapper {
    padding: 70px 112px 70px 321px;
    position: relative;
}

.feedback-wrapper::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 47%;
    left: 23px;
    z-index: 1;
    transform: rotate(45deg);
    border-left: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    cursor: pointer;
}

.feedback-wrapper::after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 47%;
    right: 23px;
    z-index: 1;
    transform: rotate(-135deg);
    border-left: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    cursor: pointer;
}

.feedback-text {
    font-size: 24px;
    font-family: Roboto;
    font-style: italic;
    line-height: 36px;
    color: #999999;
}

.feedback-author {
    padding: 23px 0 0 69px;
    position: relative;
    font-family: "Kaushan Script";
    font-size: 24px;
}

.feedback-author::before {
    content: "";
    display: block;
    position: absolute;
    top: 72%;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.feedback-icon {
    font-size: 63px;
    border: 3px solid #95e1d3;
    padding: 30px 44px;
    position: absolute;
    top: 70px;
    left: 110px;
    z-index: 1;
    color: #95e1d3;
}

.feedback-avatar img {
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 74px;
    z-index: 1;
}

/* Team
-------------------------------------*/

.social-item { 
    display: block;
    padding: 10px 15px;
    color: #f38181;
    border-right: 1px solid rgba(243, 129, 129, 0.438);
    background-color: #fce38a;
    font-size: 24px;
}

.social-item:hover {
    background-color: #f38181;
    color: #ffffff;
}

.social-item--borderless {
    border-right: none;
}

.employee {
    margin-top: 31px;
    text-align: center;
}

.employee-name {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.employee-position {
    font-size: 15px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    color: #999999;
}

.team-footer {
    background-color: #ffffff;
}

.team-footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 117px;
    opacity: 0.8;
    align-items: center;
    padding: 50px 0;
}

/* Work
-------------------------------------*/

.work {
    margin: 102px 0 60px 0;
    display: flex;
}

.work-column {
    flex: 1 1 0;
}

.work-item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.work-photo {
    transition: opacity .2s linear;
    display: block;
}

.work-item:hover .work-photo {
    opacity: .1;
}

.work-item:hover .work-info {
    opacity: 1;
}

.work-info {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    color: #ffffff;
    opacity: 0;
    transition: opacity .2s linear;
}

.work-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.work-text {
    font-style: italic;
    font-size: 15px;
    font-family: Roboto;
}

/* Clients
-------------------------------------*/

.section--clients {
    background: #ffffff url("../img/clients/clients-bg.png") center no-repeat;
    background-size: cover;
    height: 850px;
}

.client-item {
    width: 514px;
    display: flex;
    margin: 87px 30px 72px 0;
}

.client-item img {
    margin-right: 30px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.client-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px 129px 0;
}

.client-name {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.client-position {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
}

.client-position::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-bottom: 24px;
}

.client-feedback {
    line-height: 24px;
}