/* Global
-------------------------------------*/

body {
    background: #ffffff url("../img/bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    width: 100%;
    height: 100vh;
    text-rendering: optimizeSpeed;
}

::placeholder {
    color: #cccccc;
}

p {
    line-height: 1.5;
}

hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

/* Container
-------------------------------------*/

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
-------------------------------------*/

.main-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-header-logo {
    margin-top: 28px;
}

.main-navigation {
    width: 620px;
    margin-top: 40px;
}

.main-navigation-wrapper {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.navigation-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    margin-top: 7px;
    opacity: 0;
    transition: opacity .2s linear;
}

.navigation-item a,
.navigation-cart-button a,
.navigation-search-button a {
    transition: color .2s linear;
}

.navigation-item:hover a,
.navigation-cart-button:hover a,
.navigation-search-button:hover a {
    color: #fce38a;
}

.navigation-item:hover::after,
.navigation-item.active::after {
    opacity: 1;
}

/* Intro
-------------------------------------*/

.intro-wrapper {
    text-align: center;
    color: #ffffff;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    margin-top: 135px;
}

.intro-suptitle {
    font-family: "Kaushan Script";
    font-size: 65px;
    margin-bottom: 42px;
    user-select: none;
}

.intro-title {
    font-size: 114px;
    user-select: none;
    text-transform: uppercase;
}

.intro-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 35px auto;
}

.intro-button {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #ffffff;
    padding: 9px 32px;
    transition: all .2s linear;
}

.intro-button:hover {
    background-color: #fce38a;
    color: #333;
}

/* Intro-slider
-------------------------------------*/

.intro-slider {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #ffffff;
    margin-top: 100px;
}

.intro-slider b {
    font-size: 24px;
}

.intro-slider-item {
    border-top: 2px solid #fff;
    width: 23.33%;
    position: relative;
    opacity: 0.7;
    padding: 20px 0;
}

.intro-slider-item.active {
    opacity: 1;
}

.intro-slider-item.active::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: #f38181;
}

/* Section Header
-------------------------------------*/

.section {
    background-color: #ffffff;
}

.section-header {
    text-align: center;
    padding-top: 100px;
}

.section-suptitle {
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 35px auto;
}

.section-text {
    margin: 45px auto 0;
    width: 79.5%;
    text-align: center;
    color: #999999;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
}

/* Card
-------------------------------------*/

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px -15px 0;
}

.card-wrapper {
    background-color: #95e1d3;
    position: relative;
}

.card-wrapper:hover .card-text {
    opacity: 1;
}

.card-wrapper:hover .card-img {
    transform: translate3d(-10px, -10px, 0);
}

.card-item {
    width: 33.33%;
    padding: 0 15px;
}

.card-img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}

.card-wrapper:hover .card-img img {
    opacity: .1;
}

.card-img img {
    transition: opacity .2s linear;
    max-width: 100%;
    height: auto;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    opacity: 0;
    transition: opacity .2s linear;
}

.card-social {
    display: flex;
    background-color: transparent;
}

/* Statistics
-------------------------------------*/

.statistics {
    background-color: #95e1d3;
    margin-top: 110px;
    color: #ffffff;
}

.statistics-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

}

.statistics-item {
    font-size: 65px;
    font-weight: 700;
    border-left: 1px solid rgba(255, 255, 255, .3);
    padding: 80px 25px;
    flex: 1 1 0;
}

.statistics-item:last-child {
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.statistics-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

/* Service
-------------------------------------*/

.service {
    display: flex;
    flex-wrap: wrap;
    padding: 35px 0 52px 0;
}

.service-item {
    padding: 0 40px 40px 85px;
    margin-bottom: 40px;
    position: relative;
    width: 33.33%;
}

.service-item--border {
    border-bottom: 1px solid #e5e5e5;
}

.service-title {
    text-transform: uppercase;
    margin-bottom: 14px;
    font-weight: 400;
}

.service-text {
    font-family: Roboto;
    color: #999999;
    line-height: 24px;
}

.service-icon {
    position: absolute;
    font-size: 32px;
    top: -5px;
    left: 30px;
    color: #95e1d3;
}

/* Device
-------------------------------------*/

.section--device {
    background: #333333 url("../img/devices/devices-bg.jpg") center no-repeat;
    background-size: cover;
    max-height: 850px;
}

.section--device .section-title::after {
    margin-bottom: 45px;
}

.device {
    width: 100%;
    max-width: 536px;
    margin: 0 auto;
    position: relative;
}

.device-item--iphone {
    position: absolute;
    bottom: -90px;
    right: -100px;
}

/* Wedo
-------------------------------------*/

.wedo {
    margin: 92px 0 120px 0;
    display: flex;
    justify-content: space-between;
}

.wedo-item {
    background: #333333 url("../img/wedo/wedo-img.jpg") center / no-repeat;
    padding-right: 30px;
}

.accordion {
    width: 50%;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-item:last-child {
    margin-bottom: 0;
}

.accordion-item.active .accordion-header::after {
    transform: translateY(-25%) rotate(-45deg);
}

.accordion-item.active .accordion-content {
    display: block;
}

.accordion-header {
    padding: 25px 0 25px 61px;
    height: 70px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    border: 1px solid #e5e5e5;
}

.accordion-header::after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 40%;
    right: 20px;
    transform: rotate(135deg);
    border-left: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    cursor: pointer;
}

.accordion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 32px;
    color: #95e1d3;
    font-weight: 400;
}

.accordion-content {
    padding: 21px 55px 28px 20px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    color: #999999;
    border: 1px solid #e5e5e5;
    border-top: none;
    display: none;
}

/* Feedback
-------------------------------------*/

.feedback {
    background-color: #f8f8f8;
}

.feedback-work {
    margin-bottom: 60px;
    background-color: transparent;
}

.feedback-wrapper {
    padding: 70px 112px 70px 321px;
    position: relative;
}

.feedback-wrapper::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 47%;
    left: 23px;
    transform: rotate(45deg);
    border-left: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    cursor: pointer;
}

.feedback-wrapper::after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 47%;
    right: 23px;
    transform: rotate(-135deg);
    border-left: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    cursor: pointer;
}

.feedback-text {
    font-size: 24px;
    font-family: Roboto;
    font-style: italic;
    line-height: 36px;
    color: #999999;
}

.feedback-author {
    padding: 23px 0 0 69px;
    position: relative;
    font-family: "Kaushan Script";
    font-size: 24px;
}

.feedback-author::before {
    content: "";
    display: block;
    position: absolute;
    top: 72%;
    left: 0;

    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.feedback-icon {
    font-size: 63px;
    border: 3px solid #95e1d3;
    padding: 30px 44px;
    position: absolute;
    top: 70px;
    left: 110px;
    color: #95e1d3;
}

.feedback-avatar img {
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 74px;
}

/* Team
-------------------------------------*/

.social-item {
    display: block;
    padding: 10px 15px;
    color: #f38181;
    border-right: 1px solid rgba(243, 129, 129, 0.438);
    background-color: #fce38a;
    font-size: 24px;
}

.social-item:hover {
    background-color: #f38181;
    color: #ffffff;
}

.social-item--borderless {
    border-right: none;
}

.employee {
    margin-top: 31px;
    text-align: center;
}

.employee-name {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.employee-position {
    font-size: 15px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    color: #999999;
}

.team-footer {
    background-color: #ffffff;
}

.team-footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 117px;
    opacity: 0.8;
    align-items: center;
    padding: 50px 0;
}

/* Work
-------------------------------------*/

.work {
    margin: 102px 0 60px 0;
    display: flex;
}

.work-column {
    flex: 1 1 0;
}

.work-item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.work-photo {
    transition: opacity .2s linear;
    display: block;
}

.work-item:hover .work-photo {
    opacity: .1;
}

.work-item:hover .work-info {
    opacity: 1;
}

.work-info {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #ffffff;
    opacity: 0;
    transition: opacity .2s linear;
}

.work-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.work-text {
    font-style: italic;
    font-size: 15px;
    font-family: Roboto;
}

/* Clients
-------------------------------------*/

.section--clients {
    background: #333333 url("../img/clients/clients-bg.png") center no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}

.client {
    margin-top: 87px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.client-item {
    position: relative;
    margin-bottom: 69px;
    width: 50%;
    padding: 0 45px 0 180px;
}

.client-item img {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 40px;
}

.client-name {
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #333;
}

.client-position {
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-family: Roboto;
    font-weight: 300;
}

.client-feedback::before {
    content: "";
    display: block;
    margin: 15px 0;
    width: 60px;
    height: 3px;
    background-color: #F38181;
}

.client-feedback {
    font-size: 15px;
    font-family: Roboto;
    color: #999999;
    line-height: 26px;
}

/* Blog
-------------------------------------*/

.blog {
    display: flex;
    justify-content: space-between;
    padding: 47px 0 116px 0;
}

.blog-item {
    width: 380px;
}

.blog-wrapper {
    position: relative;
}

.blog-img-2 {
    background: #333333 url("../img/blog/Blog-2.jpg");
    width: 380px;
    height: 240px;
    position: relative;
}

.blog-img-3 {
    background: #333333 url("../img/blog/Blog-3.jpg");
    width: 380px;
    height: 240px;
    position: relative;
}

.blog-date {
    position: absolute;
    display: block;
    background-color: #95e1d3;
    padding: 15px 15px 10px 15px;
    bottom: 10px;
    left: -10px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
}

.blog-date-month {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    opacity: 80%;
}

.blog-title {
    padding-top: 20px;
    text-transform: uppercase;
}

.blog-title a {
    color: #333333;
}

.blog-title a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.blog-content {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

.blog-statistics {
    display: flex;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

.blog-statistics i {
    font-size: 18px;
    margin-right: 6px;
    color: #95e1d3;
}

.blog-views {
    display: flex;
    margin-right: 18px;
    align-items: center;
}

.blog-comments {
    display: flex;
    align-items: center;
}

/* Map
-------------------------------------*/

.section--map {
    background: #333333 url("../img/bg-map.png") center no-repeat;
    background-size: cover;
    padding: 57px 0;
    text-align: center;
}

.map-pin {
    font-size: 26px;
    color: #f38181;
}

.map-link a {
    color: #f38181;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
}

.map-link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.map-link::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 21px auto 0 auto;
}

/* Main Footer
-------------------------------------*/

.main-footer {
    padding-top: 74px;
}

.main-footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 65px;
}

.footer-title {
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 40px;
}

/* Footer Column First
-------------------------------------*/

.footer-column--first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 39%;
}

.footer-logo {
    color: #cccccc;
    font-size: 46px;
    font-weight: 700;
    transform: translate3d(-3px, 0, 0);
}

.footer-text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    color: #999999;
    padding: 22px 18px 32px 0;
}

.footer-followers {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 12px;
}

.footer-followers span {
    font-weight: 700;
    font-size: 18px;
}

.footer-socials {
    padding: 10px 174px 28px 0;
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    color: #95e1d3;
    align-items: center;
}

.footer-socials a {
    color: #95e1d3;
}

.footer-socials ul {
    display: flex;
    justify-content: space-between;
    width: 219px;
}

.footer-socials p {
    color: #999999;
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    width: 33%;
}

.subscribe {
    display: flex;
    padding-right: 101px;
}

.subscribe-input {
    width: 60%;
    padding: 12px;
    border: 1px solid #e7e7e7;
    font-style: italic;
    font-size: 15px;
    font-family: Roboto;
    color: #333333;
}

.subscribe-input:focus {
    outline: 0;
    border-color: #95e1d3;
}

.subscribe-button {
    width: 40%;
    padding: 12px 28px;
    background-color: #95e1d3;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

/* Footer Column Second
-------------------------------------*/

.footer-blog-wrapper {
    width: 336px;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.footer-blog-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-blog-content {
    width: 196px;
}

.footer-blog-title {
    color: #333333;
    font-size: 12px;
    text-transform: uppercase;
}

.footer-blog-title:hover {
    text-decoration: underline;
}

.footer-blog-date {
    color: #999999;
    font-family: Roboto;
    font-style: italic;
    font-size: 13px;
}

/* Footer Column Third
-------------------------------------*/

.footer-gallery {
    display: grid;
    grid-template-columns: 88px 88px 88px;
    grid-auto-rows: minmax(88px, auto);
    grid-gap: 2px;
    margin-bottom: 15px;
}

.view-more {
    font-family: Roboto;
    font-style: italic;
    color: #333333;
    font-size: 14px;
    line-height: 0;
}

.view-more:hover {
    text-decoration: underline;
}

/* Copyright
-------------------------------------*/

.copyright {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    padding: 22px 0;
}

/* @Media
-------------------------------------*/

/* Extra large devices (large desktops, 1230px and below)
@media (max-width: 1200px)
-------------------------------------*/

@media all and (max-width: 1230px) {

    /* ===== /.Intro ===== */
    .intro-suptitle {
        font-size: 55px;
    }

    .intro-title {
        font-size: 99px;
    }
}

/* Large devices (desktops, 992px and below)
@media (max-width: 992px)
-------------------------------------*/

@media all and (max-width: 992px) {

    /* ===== /.Header ===== */
    .main-navigation {
        width: 520px;
    }

    /* ===== /.Intro ===== */
    .intro-suptitle {
        font-size: 45px;
    }

    .intro-title {
        font-size: 79px;
    }

    /* ===== /.Card ===== */
    .card-text {
        font-size: 16px;
    }

    /* ===== /.Statistics ===== */
    .statistics-wrapper {
        justify-content: center;
    }

    .statistics-item {
        flex: none;
        width: 33.33%;
        border: none;
        padding: 30px 0;
    }

    .statistics-item:last-child {
        border: none;
    }
}

/* Medium devices (tablets, 768px and below)
@media (max-width: 768px)
-------------------------------------*/

@media all and (max-width: 768px) {

    /* ===== /.Intro ===== */
    .intro-suptitle {
        font-size: 35px;
    }

    .intro-title {
        font-size: 59px;
    }

    /* ===== /.Section-header ===== */
    .section-suptitle {
        font-size: 20px;
    }

    .section-title {
        font-size: 24px;
    }

    .section-title::after {
        margin: 20px auto;
    }

    /* ===== /.Main-navigation ===== */
    .main-navigation {
        display: none;
    }

    /* ===== /.Intro-Slider ===== */
    .intro-slider span {
        display: none;
    }

    .intro-slider-item.active::before {
        width: 50%;
    }

    /* ===== /.Card ===== */
    .card {
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    }

    .card-item {
        width: 100%;
        max-width: 410px;
    }

    .card-text {
        font-size: 18px;
    }

    /* ===== /.Statistics ===== */
    .statistics {
        margin-top: 65px;
    }

    /* ===== /.Service ===== */
    .service-item {
        width: 50%;
        border: none;
        padding-left: 85px;
        padding-bottom: 0;
    }

    /* ===== /.Wedo ===== */
    .wedo {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 60px;
    }

    .wedo-item {
        padding-right: 0;
        margin-bottom: 50px;
        width: 70%;
    }

    .accordion {
        width: 80%;
    }
}

/* Small devices (landscape phones, 576px and below)
@media (max-width: 576px)
-------------------------------------*/

@media all and (max-width: 576px) {

    /* ===== /.Header ===== */

    .main-header-logo {
        font-size: 1.8em;
    }

    /* ===== /.Intro ===== */
    .intro-suptitle {
        font-size: 25px;
    }

    .intro-title {
        font-size: 49px;
    }

    /* ===== /.Section Header ===== */

    .section-header {
        text-align: center;
        padding-top: 70px;
    }

    .section-suptitle {
        font-size: 18px;
    }

    .section-title {
        font-size: 22px;
    }

    /* ===== /.Card ===== */
    .card-text {
        font-size: 16px;
    }

    /* ===== /.Statistics ===== */
    .statistics-item {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    .statistics-item:last-child {
        border-bottom: 0;
    }

    .statistics-number {
        font-size: 58px;
    }

    .statistics-text {
        font-size: 14px;
    }

    /* ===== /.Service ===== */
    .service {
        justify-content: center;
    }

    .service-item {
        width: 100%;
        max-width: 400px;
        border: none;
        padding-left: 55px;
        padding-right: 0;
    }

    .service-icon {
        left: 0;
    }

    /* ===== /.Device ===== */
    .device {
        max-width: 315px;
    }

    .device-item--iphone {
        width: 180px;
        bottom: -60px;
    }

}