@media all and (max-width: 992px) {
  /* Header
    -------------------------------------*/

  .main-nav {
    width: 520px;
  }

  /* Intro
    -------------------------------------*/

  .intro__suptitle {
    font-size: 3rem;
  }

  .intro__title {
    font-size: 4.9375rem;
  }

  /* Card
    -------------------------------------*/

  .card__text {
    font-size: 1rem;
  }

  /* Statistics
    -------------------------------------*/

  .statistics__wrapper {
    justify-content: center;
  }

  .statistics__item {
    flex: none;
    width: 33.33%;
    border: none;
    padding-block: 30px;
  }

  .statistics__item:last-child {
    border: none;
  }

  /* Feedback
    -------------------------------------*/

  .feedback__text {
    font-size: 1.25rem;
  }

  /* Work
    -------------------------------------*/

  .work__title {
    font-size: 0.75rem;
  }

  .work__text {
    font-size: 0.8125rem;
  }

  /* Clients
    -------------------------------------*/

  .client__item img {
    position: static;
    margin-bottom: 1.5625rem;
    margin-inline: auto;
  }

  .client__item {
    padding: 0;
    text-align: center;
  }

  .client__feedback::before {
    margin-block: 1.5625rem;
    margin-inline: auto;
  }

  .client__feedback {
    text-align: left;
    padding-inline: 40px;
  }
}
