@media all and (max-width: 768px) {
  /* Header
      -------------------------------------*/

  .main-header__logo {
    font-size: 1.6875rem;
  }

  /* Intro
      -------------------------------------*/

  .intro__suptitle {
    font-size: 2.5rem;
  }

  .intro__title {
    font-size: 3.6875rem;
  }

  /* Section Header
      -------------------------------------*/

  .section__suptitle {
    font-size: 1.25rem;
  }

  .section__title {
    font-size: 1.5rem;
  }

  .section__title::after {
    margin-block: 1.25rem;
    margin-inline: auto;
  }

  /* Main Navigation
      -------------------------------------*/

  .main-nav {
    display: none;
  }

  /* Navigation Toggle
      -------------------------------------*/

  .navigation-toggle {
    position: relative;
    align-items: center;
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    top: 15px;
  }

  // .navigation-toggle-item {
  //   width: 100%;
  //   height: 3px;
  //   background-color: #ffffff;
  //   position: absolute;
  //   transition: all 0.5s ease-in-out;
  //   border-radius: 5px;
  //   left: 0;
  // }

  // .navigation-toggle-item::before,
  // .navigation-toggle-item::after {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   height: 3px;
  //   background-color: #ffffff;
  //   position: absolute;
  //   transition: all 0.5s ease-in-out;
  //   border-radius: 5px;
  // }

  // .navigation-toggle-item::before {
  //   transform: translate3d(0, -0.75rem, 0);
  // }

  // .navigation-toggle-item::after {
  //   transform: translate3d(0, 0.75rem, 0);
  // }

  /* .navigation-toggle-item::before,
            .navigation-toggle-item::after {
              content: "";
              display: block;
              width: 100%;
              height: 3px;
              position: absolute;
              background-color: #ffffff;
            }

            .navigation-toggle-item::before {
              top: -0.5rem;
            }

            .navigation-toggle-item::after {
              top: 0.5rem;
            } */

  /* Intro Slider
      -------------------------------------*/

  .intro__slider span {
    display: none;
  }

  .intro__slider-item.active::before {
    width: 50%;
  }

  /* Card
      -------------------------------------*/

  .card {
    justify-content: center;
    gap: 1.875rem;
    margin-top: 3.125rem;
  }

  .card__item {
    width: 100%;
    max-width: 410px;
  }

  .card__text {
    font-size: 1.125rem;
  }

  /* Statistics
      -------------------------------------*/

  .statistics {
    margin-top: 4.0625rem;
  }

  /* Service
      -------------------------------------*/

  .service__item {
    width: 50%;
    padding-bottom: 0;
  }

  .service__item:nth-child(-n + 3) {
    border: none;
  }

  /* Wedo
      -------------------------------------*/

  .wedo {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3.75rem;
  }

  .wedo__item {
    padding-right: 0;
    margin-bottom: 3.125rem;
    width: 70%;
  }

  .wedo__accordion {
    width: 80%;
  }

  /* Feedback
      -------------------------------------*/

  .feedback__wrapper {
    flex-direction: column;
    text-align: center;
  }

  .feedback__text {
    margin-top: 2.1875rem;
  }

  .feedback__author {
    display: block;
    padding: 0;
  }

  .feedback__author::before {
    position: static;
    margin-block: 1.25rem;
    margin-inline: auto;
  }

  .feedback-icon {
    position: static;
    margin-inline: auto;
    max-width: 110px;
    font-size: 2.8125rem;
  }

  .feedback__avatar {
    margin-right: 0;
  }

  /* Team Footer
      -------------------------------------*/

  .team-footer__wrapper {
    flex: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 12.5rem 12.5rem 12.5rem;
    margin-top: 5rem;
  }

  /* Work
      -------------------------------------*/

  .work {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "wi-1 wi-2"
      "wi-3 wi-4"
      "wi-5 wi-6"
      "wi-5 wi-7";
  }

  .work__title {
    font-size: 0.875rem;
  }

  .work__text {
    font-size: 0.9375rem;
  }

  /* Clients
      -------------------------------------*/

  .client__item {
    position: relative;
    width: 600px;
    padding-left: 145px;
    text-align: left;
    margin-bottom: 4.0625rem;
    margin-inline: auto;
  }

  .client__item img {
    border-radius: 50%;
    position: absolute;
  }

  .client__feedback {
    padding: 0;
  }

  .client__feedback::before {
    margin-block: 0.9375rem;
    margin-inline: 0;
  }

  .client__info {
    padding-inline: 40px;
  }

  /* Blog
      -------------------------------------*/

  .blog {
    max-width: 58%;
    margin-inline: auto;
    gap: 3.125rem;
    padding-bottom: 5rem;
  }

  .blog__item {
    width: 100%;
    padding: 0;
  }

  /* Main Footer
      -------------------------------------*/

  .main-footer__column:nth-child(1) {
    width: 100%;
    margin-bottom: 3.125rem;
  }

  .main-footer__column:nth-child(2) {
    width: 100%;
    margin-bottom: 3.125rem;
  }

  .main-footer__column:nth-child(3) {
    width: 100%;
  }
}
