@media all and (max-width: 340px) {
  /* Main Footer Column #3
          -------------------------------------*/

  .footer-gallery {
    justify-content: stretch;
  }

  .footer-gallery__view-more {
    margin-top: 1.25rem;
  }

  /* Main Footer
          -------------------------------------*/

  .main-footer__socials {
    flex-direction: column;
    align-items: start;
  }

  .footer-socials__wrapper {
    width: 70%;
    margin-top: 0.625rem;
    margin-left: 0;
  }

  /* Feedback
        -------------------------------------*/

  .feedback__avatar {
    max-width: 100%;
    max-height: 100%;
    width: 155px;
    width: 155px;
  }
}
