@media all and (max-width: 576px) {
  /* Header
        -------------------------------------*/

  .main-header__logo {
    font-size: 1.5rem;
  }

  /* Intro
        -------------------------------------*/

  .intro__suptitle {
    font-size: 2rem;
  }

  .intro__title {
    font-size: 3.0625rem;
  }

  /* Section Header
        -------------------------------------*/

  .section__header {
    text-align: center;
    padding-top: 70px;
  }

  .section__suptitle {
    font-size: 1.125rem;
  }

  .section__title {
    font-size: 1.375rem;
  }

  /* Statistics
        -------------------------------------*/

  .statistics__item {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .statistics__item:last-child {
    border-bottom: 0;
  }

  .statistics__number {
    font-size: 3.625rem;
  }

  .statistics__text {
    font-size: 0.875rem;
  }

  /* Service
        -------------------------------------*/

  .service {
    justify-content: center;
  }

  .service__item {
    width: 100%;
    max-width: 400px;
    padding-right: 0;
  }

  /* Device
        -------------------------------------*/

  .device {
    max-width: 315px;
  }

  .device__item--iphone {
    width: 180px;
    bottom: -60px;
  }

  /* Team Footer
        -------------------------------------*/

  .team-footer__wrapper {
    grid-template-columns: 45% 45%;
    padding: 0;
    margin-top: 4.0625rem;
  }

  /* Work
        -------------------------------------*/

  .work__title {
    font-size: 0.8125rem;
  }

  .work__text {
    font-size: 0.875rem;
  }

  /* Clients
        -------------------------------------*/

  .client__item img {
    position: static;
    margin-bottom: 1.5625rem;
    margin-inline: auto;
  }

  .client__item {
    padding: 0;
    text-align: center;
  }

  .client__feedback::before {
    margin-block: 1.5625rem;
    margin-inline: auto;
  }

  .client__feedback {
    padding-inline: 20px;
    text-align: center;
  }

  .client__item:last-child {
    margin-bottom: 0;
  }

  /* Blog
        -------------------------------------*/

  .blog {
    max-width: 70%;
  }

  /* Main Footer
        -------------------------------------*/

  .subscribe {
    flex-wrap: wrap;
  }

  .subscribe__input {
    width: 100%;
    margin-bottom: 0.9375rem;
  }

  .subscribe__button {
    width: 100%;
  }

  .footer-blog__title {
    font-size: 0.6875rem;
  }
}
