// Colors

$white: #ffffff;
$light-grey: #cccccc;
$bright-grey: #e5e5e5;
$mild-grey: #999999;
$dark-grey: #333333;
$peach: #f38181;
$yellow: #fce38a;
$nephritis: #95e1d3;

// Fonts

$roboto: "Roboto";
$kaushan-script: "Kaushan Script";
