@import "scss/settings/font-face";
@import "scss/settings/reset";
@import "scss/settings/custom";
@import "scss/vars";
@import "scss/global";

/* Header
--------------------------------------------------------------------------*/
/*
.main-header--fixed {
  background-color: #ec908f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-block: 10px;
} */

.main-wrapper {
  overflow: hidden;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header__logo {
  margin-top: 1.75rem;
  color: $white;
  font-size: 1.875rem;
  font-weight: 700;
}

/* Main Nav
--------------------------------------------------------------------------*/

.main-nav {
  width: 620px;
  margin-top: 2.5rem;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.main-nav__item {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: $yellow;
    margin-top: 0.4375rem;
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  & a {
    transition: color 0.2s linear;
  }
  &:hover a {
    color: $yellow;
  }
  &:hover,
  &.active {
    &::after {
      opacity: 1;
    }
  }
}

.main-nav__icon {
  width: 1rem;
  height: 1rem;
  &:hover .main-nav__path {
    fill: $yellow;
  }
}

.main-nav__path {
  transition: fill 0.2s linear;
}

.main-nav__item {
  &:nth-child(n + 6):nth-child(-n + 7) {
    &::after {
      opacity: 0;
    }
  }
}

/* Intro
--------------------------------------------------------------------------*/

.intro__wrapper {
  text-align: center;
  color: $white;
  width: 100%;
  max-width: 840px;
  margin-inline: auto;
  margin-top: 8.4375rem;
  line-height: 1.1;
}

.intro__suptitle {
  font-family: $kaushan-script;
  font-size: 4.0625rem;
  margin-bottom: 32px;
  user-select: none;
}

.intro__title {
  font-size: 7.125rem;
  user-select: none;
  text-transform: uppercase;
  font-weight: 700;

  &::after {
    content: "";
    display: block;
    width: 3.75rem;
    height: 0.1875rem;
    background-color: $white;
    margin-block: 2.1875rem;
    margin-inline: auto;
  }
}

.intro__button {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid $white;
  padding-block: 9px;
  padding-inline: 32px;
  transition: all 0.2s linear;
  &:hover {
    background-color: $yellow;
    color: #333;
  }
}

/* Intro Slider
--------------------------------------------------------------------------*/

.intro__slider {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  color: $white;
  margin-top: 6.25rem;
  & b {
    font-size: 1.5rem;
  }
}

.intro__slider-item {
  border-top: 2px solid $white;
  width: 23.33%;
  position: relative;
  opacity: 0.7;
  padding-block: 20px;
  &.active {
    opacity: 1;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
      width: 60px;
      height: 2px;
      background-color: $peach;
    }
  }
}

/* Section Header
--------------------------------------------------------------------------*/

.section {
  background-color: $white;
}

.section__header {
  text-align: center;
  padding-top: 100px;
}

.section__suptitle {
  font-family: $kaushan-script;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.section__title {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 0.1875rem;
    background-color: $peach;
    margin-block: 2.1875rem;
    margin-inline: auto;
  }
}

.section__text {
  margin-top: 2.8125rem;
  margin-inline: auto;
  width: 79.5%;
  text-align: center;
  color: $mild-grey;
  font-family: $roboto;
  font-style: normal;
  font-size: 0.9375rem;
  line-height: $normal;
}

/* Card
--------------------------------------------------------------------------*/

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 6.25rem;
  margin-inline: -0.9375rem;
}

.card__wrapper {
  background-color: $nephritis;
  position: relative;
  &:hover .card__text {
    opacity: 1;
  }
  &:hover .card__img {
    transform: translate3d(-0.625rem, -0.625rem, 0);
  }

  &:hover .card__img img {
    opacity: 0.1;
  }
}

.card__item {
  width: 33.333%;
  padding-inline: 15px;
}

.card__img {
  background: linear-gradient(to bottom, $peach, $yellow);
  transition: transform 0.2s linear;
  & img {
    transition: opacity 0.2s linear;
    max-width: 100%;
    height: auto;
  }
}

.card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: $white;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.card__social {
  display: flex;
  background-color: transparent;
}

.card__social-item {
  border-right: 1px solid rgba(194, 126, 126, 0.064);
  & a {
    display: block;
    padding: 15px;
    background-color: $yellow;
    &:hover {
      background-color: $peach;
      .card__social-item-path {
        fill: $white;
      }
    }
  }
  &:last-child {
    border-color: transparent;
  }
}

/* Statistics
--------------------------------------------------------------------------*/

.statistics {
  background-color: $nephritis;
  margin-top: 6.875rem;
  color: $white;
}

.statistics__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.statistics__item {
  $c-stat-border: rgba(255, 255, 255, 0.3);

  font-size: 4.0625rem;
  font-weight: 700;
  border-left: 1px solid $c-stat-border;
  padding-block: 80px;
  padding-inline: 25px;
  flex: 1 1 0;
  &:last-child {
    border-right: 1px solid $c-stat-border;
  }
}

.statistics__text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

/* Service
--------------------------------------------------------------------------*/

.service {
  display: flex;
  flex-wrap: wrap;
  padding-block: 35px 52px;
}

.service__item {
  padding-bottom: 40px;
  padding-inline: 85px 40px;
  margin-bottom: 40px;
  position: relative;
  width: 33.333%;
  &:nth-child(-n + 3) {
    border-bottom: 1px solid $bright-grey;
  }
}

.service__title {
  text-transform: uppercase;
  margin-bottom: 14px;
}

.service__text {
  font-size: 0.9375rem;
  font-family: $roboto;
  color: $mild-grey;
  line-height: $normal;
}

.service__icon {
  position: absolute;
  top: -5px;
  left: 30px;
}

/* Device
--------------------------------------------------------------------------*/

.section--device {
  background: url("@img/devices/devices-bg.jpg") center no-repeat;
  background-size: cover;
  max-height: 850px;
}

.section__title {
  &::after {
    margin-bottom: 45px;
  }
}

.device {
  width: 100%;
  max-width: 536px;
  margin-inline: auto;
  position: relative;
}

.device__item {
  &--iphone {
    position: absolute;
    bottom: -90px;
    right: -100px;
  }
}

/* Wedo
--------------------------------------------------------------------------*/

.wedo {
  margin-block: 5.75rem 7.5rem;
  display: flex;
  justify-content: space-between;
}

.wedo__item {
  background: $dark-grey url("@img/wedo/wedo-img.jpg") center / no-repeat;
  padding-right: 30px;
  max-width: 35.625rem;
  max-height: 23.75rem;
}

.wedo__accordion {
  width: 50%;
}

.wedo__accordion-item {
  margin-bottom: 0.625rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.wedo__accordion-header {
  display: flex;
  align-items: center;
  padding-block: 25px;
  padding-inline: 61px;
  min-height: 70px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  border: 1px solid $bright-grey;
  &::after {
    content: "❮";
    display: block;
    font-size: 1.375rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    cursor: pointer;
    color: $light-grey;
    right: 20px;
  }
  &.active {
    &::after {
      transform: translateY(-50%) rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }
  }
}

.wedo__accordion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 2rem;
  color: $nephritis;
  font-weight: 400;
}

.wedo__accordion-content {
  font-size: 0.9375rem;
  padding-block: 21px 28px;
  padding-inline: 20px 55px;
  font-family: $roboto;
  font-weight: 300;
  line-height: $normal;
  color: $mild-grey;
  border: 1px solid $bright-grey;
  border-top: none;
  display: none;
}

/* Feedback
--------------------------------------------------------------------------*/

.feedback {
  &--work {
    padding-bottom: 3.75rem;
    background-color: transparent;
  }
}

// .container {
//   &--overlay {
//     position: relative;
//   }
//   &--overlay::before,
//   &--overlay::after {
//     display: block;
//     content: "";
//     width: 100%;
//     max-width: 1200px;
//     min-height: 18.125rem;
//     z-index: 10;
//     pointer-events: none;
//   }
//   &--overlay::before {
//     background: rgb(255, 255, 255);
//     background: linear-gradient(
//       90deg,
//       rgba(255, 255, 255, 0) 93%,
//       rgba(255, 255, 255, 1) 100%
//     );
//     position: absolute;
//   }
//   &--overlay::after {
//     background: rgb(255, 255, 255);
//     background: linear-gradient(
//       90deg,
//       rgba(255, 255, 255, 1) 0%,
//       rgba(255, 255, 255, 0) 11%
//     );
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
// }

.feedback__slide {
  display: flex;
  align-items: center;
  padding-block: 70px;
  padding-inline: 81px;
  position: relative;
}

.feedback__button {
  &::before,
  &::after {
    display: block;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $light-grey;
    padding: 10px;
    cursor: pointer;
    z-index: 11;
  }
}

.swiper-button-prev:focus .swiper-button-next:focus {
  outline: none;
  box-shadow: none;
}

.feedback__text {
  font-size: 1.5rem;
  font-family: $roboto;
  font-style: italic;
  line-height: 2.25rem;
  color: $mild-grey;
}

.feedback__author {
  padding-top: 1.4375rem;
  padding-left: 4.3125rem;
  position: relative;
  font-family: $kaushan-script;
  font-size: 1.5rem;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 72%;
    left: 0;
    width: 3.75rem;
    height: 0.1875rem;
    background-color: $peach;
  }
}

.feedback__avatar {
  max-width: 210px;
  max-height: 210px;
  border-radius: 50%;
  margin-right: 51px;
}

/* Team
--------------------------------------------------------------------------*/

.employee {
  margin-top: 1.9375rem;
  text-align: center;
}

.employee__name {
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
}

.employee__position {
  font-size: 0.9375rem;
  font-family: $roboto;
  font-weight: 300;
  line-height: $normal;
  color: $mild-grey;
}

.team-footer {
  background-color: $white;
}

.team-footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 6.25rem;
  opacity: 0.8;
  align-items: center;
  padding-block: 50px;
}

.sponsor__item {
  width: 75%;
  margin-inline: auto;
}

/* Work
--------------------------------------------------------------------------*/

.work {
  margin-block: 6.375rem 3.75rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "wi-1 wi-2 wi-5 wi-6"
    "wi-3 wi-4 wi-5 wi-7";
}

.work__item {
  position: relative;
  background: linear-gradient(to bottom, #2bc0e4, #eaecc6);
  &:hover {
    .work__photo {
      opacity: 0.1;
    }
    .work__info {
      opacity: 1;
    }
  }
  &:nth-child(1) {
    grid-area: wi-1;
  }
  &:nth-child(2) {
    grid-area: wi-2;
  }
  &:nth-child(3) {
    grid-area: wi-3;
  }
  &:nth-child(4) {
    grid-area: wi-4;
  }
  &:nth-child(5) {
    grid-area: wi-5;
  }
  &:nth-child(6) {
    grid-area: wi-6;
  }
  &:nth-child(7) {
    grid-area: wi-7;
  }
}

.work__photo {
  width: 100%;
  transition: opacity 0.2s linear;
}

.work__info {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: $white;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.work__title {
  margin-bottom: 0.3125rem;
  text-transform: uppercase;
}

.work__text {
  font-style: italic;
  font-size: 0.9375rem;
  font-family: $roboto;
}

/* Clients
--------------------------------------------------------------------------*/

.section--clients {
  background: $dark-grey url("@img/clients/clients-bg.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}

.client {
  margin-top: 87px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client__item {
  position: relative;
  margin-bottom: 69px;
  width: 50%;
  padding-inline: 180px 45px;
  & img {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 40px;
  }
}

.client__name {
  font-size: 0.9375rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
  color: #333;
}

.client__position {
  font-size: 0.9375rem;
  color: #333;
  font-family: $roboto;
  font-weight: 300;
}

.client__feedback {
  font-size: 0.9375rem;
  font-family: $roboto;
  color: $mild-grey;
  line-height: 1.625rem;
  &::before {
    content: "";
    display: block;
    margin-block: 0.9375rem;
    width: 3.75rem;
    height: 3px;
    background-color: $peach;
  }
}

/* Blog
--------------------------------------------------------------------------*/

.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 47px 116px;
}

.blog__item {
  width: 31.66%;
  padding: 5px;
}

.blog__wrapper {
  position: relative;
}

.blog__date {
  position: absolute;
  display: block;
  background-color: $nephritis;
  padding-block: 15px 10px;
  padding-inline: 15px;
  bottom: 10px;
  left: -10px;
  font-size: 1.875rem;
  font-weight: 700;
  color: $white;
  text-align: center;
  line-height: $normal;
  &--month {
    font-family: $roboto;
    font-weight: 300;
    font-style: italic;
    font-size: 0.9375rem;
    opacity: 80%;
  }
}

.blog__title {
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.blog__title {
  & a {
    color: $dark-grey;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.blog__content {
  font-size: 0.9375rem;
  padding-block: 20px;
  border-bottom: 1px solid $bright-grey;
  color: $mild-grey;
  font-family: "Roboto";
  line-height: 1.5;
}

.blog__statistics {
  display: flex;
  padding-top: 20px;
  font-size: 0.9375rem;
  font-weight: 300;
  color: #999;
}

.blog__views {
  display: flex;
  margin-right: 1.125rem;
  align-items: center;
}

.blog__comments {
  display: flex;
  align-items: center;
}

.blog__icon {
  margin-right: 0.3125rem;
}

/* Map
--------------------------------------------------------------------------*/

.section {
  &--map {
    background: $dark-grey url("@img/map/bg-map.png") center no-repeat;
    background-size: cover;
    padding-block: 57px;
    text-align: center;
  }
}

.map__pin {
  font-size: 1.625rem;
  margin-bottom: 0.5rem;
}

.map__link {
  & a {
    color: $peach;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 3.75rem;
    height: 3px;
    background-color: $peach;
    margin-top: 1rem;
    margin-inline: auto;
  }
}

/* Main Footer
--------------------------------------------------------------------------*/

.main-footer {
  background-color: $white;
  padding-top: 74px;
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4.0625rem;
}

.main-footer__title {
  color: $dark-grey;
  line-height: 1.125rem;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 40px;
}

/* Main Footer Column #1
--------------------------------------------------------------------------*/

.main-footer__column {
  &:first-child {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    width: 39%;
  }
  & h2 {
    line-height: 1.1;
  }
}

.main-footer__logo {
  color: $light-grey;
  font-size: 2.875rem;
  font-weight: 700;
  transform: translate3d(-3px, 0, 0);
}

.main-footer__text {
  font-family: $roboto;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: $normal;
  color: $mild-grey;
  padding-right: 1.125rem;
  padding-top: 0.625rem;
}

.main-footer__followers {
  border-bottom: 1px solid $bright-grey;
  padding-bottom: 0.75rem;
  & span {
    font-weight: 700;
    font-size: 1.125rem;
  }
  padding-block: 15px;
}

.main-footer__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.1875rem;
  padding-block: 20px;
  color: $nephritis;
}

.footer-socials__item {
  & a {
    color: $nephritis;
    & svg {
      display: block;
    }
  }
}

.footer-socials__wrapper {
  display: flex;
  justify-content: space-between;
  width: 219px;
  margin-left: 1.25rem;
}

.subscribe {
  display: flex;
}

.subscribe__input {
  padding: 12px;
  border: 1px solid #e7e7e7;
  font-style: italic;
  font-size: 0.9375rem;
  font-family: $roboto;
  color: $dark-grey;
  &:focus {
    outline: 0;
    border-color: $nephritis;
  }
}

.subscribe__button {
  padding-block: 12px;
  padding-inline: 28px;
  background-color: $nephritis;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

/* Main Footer Column #2
--------------------------------------------------------------------------*/

.footer-blog {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-blog__item {
  display: flex;
  align-items: center;
}

.footer-blog__content {
  width: 196px;
  padding-left: 20px;
}

.footer-blog__title {
  & a {
    color: $dark-grey;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.footer-blog__date {
  color: $mild-grey;
  font-family: $roboto;
  font-style: italic;
  font-size: 0.8125rem;
}

/* Main Footer Column #3
--------------------------------------------------------------------------*/

.footer-gallery {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-gallery__item {
  transition: 1s;
  &:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1.3);
    z-index: 2;
  }
}

.footer-gallery__wrapper {
  display: grid;
  max-width: 268px;
  grid-template-columns: repeat(3, 32.8%);
  gap: 2px;
}

.footer-gallery__view-more {
  & a {
    font-family: $roboto;
    font-style: italic;
    color: $dark-grey;
    line-height: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Copyright
--------------------------------------------------------------------------*/

.copyright {
  text-align: center;
  border-top: 1px solid $bright-grey;
  padding-block: 22px;
}

/* Media Queries
--------------------------------------------------------------------------*/
@import "scss/components/queries/extra-large-devices";
@import "scss/components/queries/large-devices";
@import "scss/components/queries/medium-devices";
@import "scss/components/queries/small-devices";
@import "scss/components/queries/smaller-devices";
