body {
  background-color: #00eeff;
  background-image: url("@img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 0.875rem;
  font-weight: 400;
  color: #333333;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
}

.main-wrapper {
  overflow: hidden;
}
