// Colors
$c-white: #ffffff;
$c-light-grey: #cccccc;
$c-bright-grey: #e5e5e5;
$c-mild-grey: #999999;
$c-dark-grey: #333333;
$c-peach: #f38181;
$c-yellow: #fce38a;
$c-nephritis: #95e1d3;

// Font-family
$f-roboto: "Roboto";
$f-kaushan-script: "Kaushan Script";
